.advanced-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
}

.advanced-filter {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 1rem;
}

.advanced-filter > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
}

.advanced-filter h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.advanced-filter label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.advanced-filter input[type="text"],
.advanced-filter select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.5rem;
  flex: 1;
}

.advanced-filter button {
  background-color: #d4002a !important;
  color: white !important;
  padding: 10px 20px;
  border: 1px solid #d4002a;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 800 !important;
}

.advanced-filter button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
  padding: 0 0.5rem;
}

.button-container > button {
  flex: 1;
}

.button-container > button + button {
  flex: 1;
  background-color: white !important;
  color: black !important;
  border-color: black !important;
}

.button-container > button + button:hover {
  flex: 1;
  color: #d4002a !important;
  border-color: #d4002a !important;
  background-color: white !important;
}
