.results {
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  overflow: scroll;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  padding: 0 15%;
  margin-top: 2rem;
  max-height: 100%;
}

.header {
  grid-area: header;
}

.invoice-grid-row.header {
  padding: 1rem 1rem;
}

.invoice-grid-row {
  flex: 1 !important;
  display: grid !important;
  grid-template-columns: repeat(11,1fr)!important;
  grid-gap: 10px;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f9f9f9;
  background-color: #f9f9f9 !important;
  border-bottom: 1px solid black;
}

.invoice-grid-row > div {
  text-align: center;
  align-content: center;
}

.header > div {
  font-size: large;
  font-weight: 600;
}

.table {
  display: flex;
  flex-direction: column;
  max-height: 100% !important;
  max-width: 100% !important;
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.home > * button:hover {
  background-color: black !important;
}
.table > * a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15%;
}
.table > * button {
  flex: 1;
  background-color: #d4002a !important;
  color: white !important;
  border: solid 1px #d4002a !important;
}
.table > * button:hover {
  background-color: white !important;
  color: #d4002a !important;
}

.selected {
  background-color: rgb(217, 217, 217) !important;
}
